{% extends  "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Contact</legend>
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata" >
                                <br>Cette Application a été mise en place par <b>Hanane ZERDOUM</b></br>
                                <br>Ce projet et né suite à mes études doctorales sous la direction de M.PG et WS dans le cadre d'une thése</br>



                        </div>
                    </div>
                </article>
            </fieldset>
        </form>
    </div>
{% endblock content %}

