{% extends  "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Contact</legend>
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata" >
                                <br>Cette application a était mise en place par :</br>
                                <br>Mme Hanane Zerdoum.</br>
                                <br>mail: hanane_zerdoum@yahoo.fr</br>
                                <br>Ce projet est né suite à mes études doctorales en mathématiques sous les directions
                                de <a href="https://www.math.univ-paris13.fr/~schmid/personal/index.html">M. Wolfgang Schmid
                            </a> et <a href="https://www.math.univ-paris13.fr/laga/membres/Guillot">M. Philippe Guillot </a></br>
                        </div>
                    </div>
                </article>
                <legend class="border-bottom mb-4">Support & contribution</legend>
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata" >
                                <br>En cas d'erreur ou un cas qui manque merci de bien vouloir contacter <b>Mme ZERDOUM</b> par mail</br>
                        </div>
                    </div>
                </article>
            </fieldset>
        </form>
    </div>
{% endblock content %}

