{% extends  "layout.html" %}
{% block content %}
            <div class="content-section">
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Bienvenue</legend>
                            <article class="media content-section">
                                <div class="media-body">
                                    <p>Soit G un groupe abélien finis, cette application web donne les résultats connus pour les constantes suivantes: </p>
                                            <ul>
                                            {% for post in posts %}
                                                    <li><a class="article-title" href="{{url_for('description', type=post.title)}}">{{ post.title }}</a></li>
                                                {% endfor %}
                                            </ul>

                                </div>
                            </article>
                    </fieldset>
                </form>
            </div>
{% endblock content %}
